.idea
.vscode
.history
.fleet
/vendor
/build
.php-cs-fixer.cache
.phpunit.result.cache
infection.html
.phpunit.cache
.DS_Store
*.log

/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.production

/caddy
frankenphp
frankenphp-worker.php
